[profiles]
packages=fast,filecatcher,dump

[dump]
dump=ram,mft,mbr
mft_export=True

[output]
type=csv
destination=local
dir=%COMPUTERNAME%

[registry]
custom_registry_keys="HKCU\SOFTWARE\Locky"
registry_recursive=False
get_autoruns=True

[filecatcher]
recursively=True
path=c:\tmp|*,c:\temp|*,c:\recycler|*,%WINDIR%|*,%USERPROFILE%|*

mime_filter=application/msword;application/octet-stream;application/x-archive;application/x-ms-pe;application/x-ms-dos-executable;application/x-lha;application/x-dosexec;application/x-elc;application/x-executable, statically linked, stripped;application/x-gzip;application/x-object, not stripped;application/x-zip;

mime_zip=application/x-ms-pe;application/x-ms-dos-executable;application/x-dosexec;application/x-executable, statically linked, stripped

compare=AND
size_min=6k
size_max=100M
ext_file=*
zip_ext_file=*
zip=True
all_users=True
limit_days=Unlimited

[modules]
pe
yara

[pe]
pe_mime_type=application/x-ms-pe;application/x-ms-dos-executable;application/x-ms-pe;application/x-dosexec;application/x-executable, statically linked, stripped

filtered_certificates=True

cert_filtered_issuer=issuer;O=Microsoft Corporation|Microsoft Time-Stamp PCA|Microsoft Time-Stamp PCA Microsoft Windows Verification PCA|Microsoft Root Authority Microsoft Root Authority Microsoft Timestamping PCA Microsoft Timestamping PCA Microsoft Root Authority Microsoft Windows Verification Intermediate PCA Microsoft Root
Authority 

cert_filtered_subject=subject;O=Microsoft Corporation|Microsoft Time-Stamp Service|Microsoft Time-Stamp Service Microsoft Windows|Microsoft Root Authority Microsoft Root Authority Microsoft Timestamping Service Microsoft Timestamping Service Microsoft Timestamping PCA Microsoft Windows Component Publisher Microsoft Windows Verification
Intermediate PCA

[yara]
filtered_yara=False
dir_rules=yara-rules
